- var padding_base = '15px';

style(type="text/css").
  .text-smaller, .text-smaller p { font-size: 12px; line-height: 17px; }

  p { padding-bottom: #{padding_base} !important; }

  table.table { width: 100%; }
  table.table tr { border-bottom: 1px solid #{theme.body_border_color}; }
  table.table tr td { padding: #{padding_base} 0; }
  table.table tfoot { border-top: 2px solid #eee; }
  table.table tr.last { border-bottom: none; }
  table.table tr.last td { padding-bottom: 0; }

  table.body table.table { display: table !important; }
  table.body table.table tr { display: table-row !important; }
  table.body table.table tr td { display: table-cell !important; width: auto !important; }
  table.body table.table thead,
  table.body table.table tbody,
  table.body table.table tfoot {
    display: table-row-group !important;
  }

  h1, h2, h3, h4, h5, h6 { color: #{theme.link_color}; }
