.members__add {
  margin-bottom: @grid-gutter-width;
}

.member {
  margin-bottom: @grid-gutter-width;
  padding-bottom: 6px;
  position: relative;
}

.member__header {
  padding-bottom: @avatar-size / 2 + @well-padding;
}

.member__name {
  .clearfix;
  height: @input-height-large;
}

.member__avatar {
  margin-top: (@avatar-size / -2) - @well-padding;
}

.member__delete {
  line-height: 1;
  position: absolute;
  right: @well-padding;
  top: @well-padding;
}

.member__edit {
  cursor: pointer;
  position: relative;

  &:hover, &:focus, &:active { text-decoration: none; }

  .icon {
    left: 100%;
    margin-left: @padding-small-horizontal;
    position: absolute;
  }
}
