.text-inverse { color: @text-inverse; }
.text-inverse--muted { color: lighten(@text-muted, 10%); }
.text-alpha { opacity: 0.25; }

.text-light { font-weight: @font-weight-light !important; }
.text-normal { font-weight: @font-weight-normal !important; }
.text-bold { font-weight: @font-weight-bold !important; }

.link-plain {
   color: inherit;
   opacity: 0.75;
   &:hover, &:active, &:focus { color: inherit; opacity: 1; }
}

hr { border-top-width: 2px; }

@media (min-width: @screen-sm-min) { .pull-sm-right { .pull-right; } }
@media (min-width: @screen-md-min) { .pull-md-right { .pull-right; } }
